.dropdown-submenu
{
  position: relative;
}

.dropdown-submenu>.dropdown-menu 
{
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu 
{
  display: block;
}

.dropdown-submenu>a:after 
{
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after 
{
  border-left-color: #fff;
}

.dropdown-submenu.pull-left
{
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu 
{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#subRoles
{
  text-decoration:none;  
  color: black;
  margin-left: 14%
}
.system-icons
{
    font-size: 1.2rem;
}
.animacion {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.reporte-imagen{
   height: 4.25rem;
    width: 4.25rem;
}

.reporte-imagen-factura{
   height: 4rem;
    width: 4rem;
}

.p-factura{
  margin-top: 0;
  margin-bottom: 0;
}

.p-factura-titulo{
  margin-bottom: .1rem;
}

.p-factura-titulo-infe{
  margin-top: .1rem;
  margin-bottom: 0;
}

.round{

 background-color: #fff;
 width: auto;
 height: auto;
 margin: 0 auto 9px auto;
 padding: 5px;
 border: 1px solid #ccc;

 -moz-border-radius: 11px;
 -webkit-border-radius: 11px;
 border-radius: 11px;
 behavior: url(border-radius.htc);
}

.table-bordered {
  border: 1px solid  #020202 !important;
}

.tabla-tamaño{
  width:  78%;
  height: auto;
}

.texto-peque{
  font-size: 0.8rem;
}

@page
{
  size: landscape;
}

@media print 
{
   
   .print
   {
    display: none;
   }

   .tabla-imprimir{
    width:  100%;
    height: auto;
   }

   .texto-imprimir{
    margin-left: 0.1rem !important;
   }
}

.scroll{
    max-height:900px;
    overflow-x:scroll;
    overflow-x: hidden;
}
